/* Put all of your general styles here */

/* Table of Contents 

*** 1. General ***
*** 2. Navigation ***
*** 3. Components ***
*** 4. Footer ***
*** 5. Specific page #1 ***
*** 6. Specific page #2 ***

*/

/* ============= 1. General =============== */

section {
	max-width: 100%;
	overflow: hidden;
}

.row {
	@include padding(null 1em null 1em);
}


/* ============= 2. Navigation =============== */

nav {
	background-color: $primary-color;

	ul {
		@include inline-list;

		a {
			padding: 20px;
			color: $white;
			text-decoration: none;
		}
	}
}
