/******************************************************************
Site Name: Your Site Name
Author: Your Site Name
URL: http://yoursite.com
******************************************************************/


/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// Reset using Normalize
@import "normalize"; /* fix browser inconsistencies */

// Set variables and reusable mixins and Bourbon
@import "config"; /* adds re-usable colors and measurements */
@import "mixins"; /* adds a variety of useful Sass plugins */
@import "bourbon/bourbon"; /* adds useful SASS mixins */

// Import Foundation
@import "foundation/foundation"; /* add Zurb's Foundation framework (grid system, etc.) */

// Import typical layout SASS modules
@import "type";
@import "tables";
@import "forms";
// @import "links"; /* Style the links and buttons */

// Font Awesome icons
@import "font-awesome/font-awesome"; /* easily use icons */

// Specific project styles, add any section specific sass modules here
@import "layout"; /* most of your styles go here */


/*********************
OPTIONAL
Delete the // comment in front of an @import style to activate it
*********************/

// @import "blog"; /* OPTIONAL styles for blog template */
// @import "media"; /* OPTIONAL styles for media elements */




/* FOR TESTING PURPOSES */
@mixin test-content($name, $val, $prop: false) {
	@if $prop { #{$prop}: #{$val}; }
	&::before { content: "#{$name}: #{$val}"; }
}
@mixin test-color($name, $val) {
	@include test-content($name, $val, color);
	&::before { display: inline-block; width: 350px; }
	&::after { content: ""; width: 300px; height: 20px; background-color: $val; }
}
#scss-settings {
	span { display: block; }
	#font-base { @include test-content("$font-base (default font)", $font-base, font-family); }
	#font-header { @include test-content("$font-header (<h1>-<h6>)", $font-header, font-family); }
	#font-mono { @include test-content("$font-mono", $font-mono, font-family); }
	#font-blockquote { @include test-content("$font-quote", $font-quote, font-family); }
	#rem-small { @include test-content("$rem-small", $rem-small, font-size); }
	#rem-medium { @include test-content("$rem-medium", $rem-medium, font-size); }
	#rem-large { @include test-content("$rem-large", $rem-large, font-size); }
	.test-color::after { display: inline-block; }
	#primary-color { @include test-color("$primary-color", $primary-color); }
	#secondary-color { @include test-color("$secondary-color", $secondary-color); }
	#tertiary-color { @include test-color("$tertiary-color", $tertiary-color); }
	#alert-color { @include test-color("$alert-color", $alert-color); }
	#success-color { @include test-color("$success-color", $success-color); }
	#warning-color { @include test-color("$warning-color", $warning-color); }
	#info-color { @include test-color("$info-color", $info-color); }
	#breakpoint-small { @include test-content("$small-range", $small-range); }
	#breakpoint-medium { @include test-content("$medium-range", $medium-range); }
	#breakpoint-large { @include test-content("$large-range", $large-range); }
	#breakpoint-xlarge { @include test-content("$xlarge-range", $xlarge-range); }
	#breakpoint-xxlarge { @include test-content("$xxlarge-range", $xxlarge-range); }
}
